*
!.gitignore

# source code and figures
!llama/
!llama/*/
!llama/**/*.py
!tests/
!tests/**/*.py
!examples/
!examples/**/*.py
!examples/**/*.ipynb
!run_tests.sh
!type_check.sh
!figures
!figures/*

# override ipynb_checkpoints
**/.ipynb_checkpoints

# metadata
!model
!llama3.egg-info
!LICENSE
!USE_POLICY.md
!README.md
!TODO.md
!LOG.md
!uv.lock
!pyproject.toml

# data
!dumps/
!dumps/**/
!dumps/**/*.json*
!dumps/**/*.md
!dumps/**/*.pt
!data/
!data/**
!data/**/*

# misc
!tokenizer.model
!slurm/
!slurm/*.py
!slurm/*.sh
!sweeps/
!sweeps/*.yml
