*
!.gitignore

# source code and figures
!llama/
!llama/**/
!llama/**/*.py
!tests/
!tests/**/*.py
!examples/
!examples/**/*.py
!examples/**/*.ipynb
!run_tests.sh
!type_check.sh
!figures
!figures/*
!repl/
!repl/*.py

# override ipynb_checkpoints
**/.ipynb_checkpoints

# metadata
!model
!llama3.egg-info
!LICENSE
!USE_POLICY.md
!README.md
!TODO.md
!LOG.md
!SUMMARY.md
!uv.lock
!pyproject.toml

# data
!dumps/
!dumps/**
!dumps/**/*.json*
!dumps/**/*.md
!dumps/**/*.pt
!data/
!data/**/*

# things too big for gh
data/squad/train-v2.0.json
data/triviaqa
data/triviaqa.tar.gz

# misc
!tokenizer.model
!slurm/
!slurm/*/
!slurm/**/*.py
!slurm/**/*.sh
!sweep/
!sweep/*.yml
