*
!.gitignore

# source code and figures
!llama/
!llama/*/
!llama/**/*.py
!tests/
!tests/**/*.py
!examples
!examples/**.{py,ipynb}
!run_tests.sh
!type_check.sh
!figures

# override ipynb_checkpoints
**/.ipynb_checkpoints

# metadata
!llama3.egg-info
!LICENSE
!USE_POLICY.md
!README.md
!TODO.md
!uv.lock
!pyproject.toml

# misc
!tokenizer.model
